<div class="about">
    <div class="summary">
        <p>Hello, I'm a highly adaptable Software Engineer with a knack for rapid learning, honed through participation in esteemed Competitive Programming Competitions like Google Kickstart 2022 and Shopee Code League 2022. My expertise spans a wide array of technologies, including PHP, Laravel, Golang, Java, Spring, MySQL, and PostgreSQL. Proficient in conducting rigorous unit testing as well as Selenium Automation Testing in Java and Python, I ensure robust and reliable software solutions. Moreover, my experience extends to the implementation of Microservices architecture, utilizing JWT and OpenAPI Swagger, garnered from my past internships. I excel in orchestrating Microservices across platforms such as Golang, Gin, Laravel, and Spring Boot, leveraging their unique strengths to craft efficient and scalable systems.</p>
        <div class="profile-img">
            <img src="/assets/profile.png" alt="profile" width="250px">
        </div>
    </div>

    <div class="content">
        <div class="skills">
            <h2>Programming Languages : </h2>
            <ul>
                <li>Golang</li>
                <li>Java</li>
                <li>Typescript</li>
                <li>PHP</li>
                <li>Python</li>
            </ul>
        </div>
        <div class="achievements">
            <h2>Achievements: </h2>
            <ul>
                <li>Shopee Code League 2022 - Lead & Participant Certificate (Across Asia)</li>
                <li>Google Kickstart Round G 2022 - Participant Certificate (World)</li>
                <li>Agoda Competition 2022 - Participant (Asia)</li>
                <li>CodeRun 2022 - Participant (Indonesia)</li>
            </ul>
        </div>
    </div>
</div>
