<div class="home">
    <div class="summary">
        <div>
            <h2>Backend Engineer Trainee at Shopee</h2>
            <ul>
                <li>Developed Selenium Web Scraping Script from Tokopedia’s data written in Python & Java programming languages.</li>
                <li>Minimize Redundant Code & Maximize Reusable Code by Implementing Clean Code & Architecture Principles.
                </li>
                <li>Web Scrapped over 100k data from Tokopedia for Shopee Lite Dummy Data between 24 hours & became the one and only Team who reached data requirements.
                </li>
                <li>Increased Product’s load 10 times faster by implementing Redis.
                </li>
                <li>Custom Gin Middleware for Logging & Database Transactions in Gorm raw query to Avoid data loss especially from E-Wallet feature.
                </li>
                <li>Mircoservicing Rest API alongside gRPC between Golang Gin Services.
                </li>
                <li>Implemented Grpc Clean Architecture & Interceptor between REST API
                </li>
                <li>Building Shopee Lite a small E-Commerce like The Official Shopee in two sprint within a month.
                </li>
                <li>Implemented Concurrency on Graceful Shutdown
                </li>
            </ul>
            <p style="width: fit-content;">
            </p>
        </div>
        <img src="/assets/shopee_lite.jpeg" alt="profile" width="600px" style="border-radius: 1vh;">

        
    </div>
    <div class="summary">
        <img src="/assets/qa_seminar_shopee.jpeg" alt="profile" height="300px" style="border-radius: 1vh;">

        <div>
            <h2>Backend Engineer Trainee at Shopee</h2>
            <ul>
                <li>Developed Selenium Web Scraping Script from Tokopedia’s data written in Python & Java programming languages.</li>
                <li>Minimize Redundant Code & Maximize Reusable Code by Implementing Clean Code & Architecture Principles.
                </li>
                <li>Web Scrapped over 100k data from Tokopedia for Shopee Lite Dummy Data between 24 hours & became the one and only Team who reached data requirements.
                </li>
                <li>Increased Product’s load 10 times faster by implementing Redis.
                </li>
                <li>Custom Gin Middleware for Logging & Database Transactions in Gorm raw query to Avoid data loss especially from E-Wallet feature.
                </li>
                <li>Mircoservicing Rest API alongside gRPC between Golang Gin Services.
                </li>
                <li>Implemented Grpc Clean Architecture & Interceptor between REST API
                </li>
                <li>Building Shopee Lite a small E-Commerce like The Official Shopee in two sprint within a month.
                </li>
                <li>Implemented Concurrency on Graceful Shutdown
                </li>
            </ul>
            <p style="width: fit-content;">
            </p>
        </div>
    </div>
    <div class="summary">
        <div>
            <h2>Backend Engineer Trainee at Shopee</h2>
            <ul>
                <li>Developed Selenium Web Scraping Script from Tokopedia’s data written in Python & Java programming languages.</li>
                <li>Minimize Redundant Code & Maximize Reusable Code by Implementing Clean Code & Architecture Principles.
                </li>
                <li>Web Scrapped over 100k data from Tokopedia for Shopee Lite Dummy Data between 24 hours & became the one and only Team who reached data requirements.
                </li>
                <li>Increased Product’s load 10 times faster by implementing Redis.
                </li>
                <li>Custom Gin Middleware for Logging & Database Transactions in Gorm raw query to Avoid data loss especially from E-Wallet feature.
                </li>
                <li>Mircoservicing Rest API alongside gRPC between Golang Gin Services.
                </li>
                <li>Implemented Grpc Clean Architecture & Interceptor between REST API
                </li>
                <li>Building Shopee Lite a small E-Commerce like The Official Shopee in two sprint within a month.
                </li>
                <li>Implemented Concurrency on Graceful Shutdown
                </li>
            </ul>
            <p style="width: fit-content;">
            </p>
        </div>
        
        <img src="/assets/graduation_day_shopee.jpeg" alt="profile" height="300px" style="border-radius: 1vh;">
    </div>
    <!-- <div>
        <div style="display: flex; flex-wrap: wrap; justify-content: space-between; margin: 10px;">
            <img src="/assets/shopee_lite.jpeg" alt="profile" width="600px">
            <img src="/assets/qa_seminar_shopee.jpeg" alt="profile" height="300px" style="border-radius: 1vh;">
            <img src="/assets/graduation_day_shopee.jpeg" alt="profile" height="300px" style="border-radius: 1vh;">
        </div>
    </div> -->

    <!-- <div class="content">
        <div class="skills">
            <h2>Programming Languages : </h2>
            <ul>
                <li>Golang</li>
                <li>Java</li>
                <li>Typescript</li>
                <li>PHP</li>
                <li>Python</li>
            </ul>
        </div>
        <div class="achievements">
            <h2>Achievements: </h2>
            <ul>
                <li>Shopee Code League 2022 - Lead & Participant Certificate (Across Asia)</li>
                <li>Google Kickstart Round G 2022 - Participant Certificate (World)</li>
                <li>Agoda Competition 2022 - Participant (Asia)</li>
                <li>CodeRun 2022 - Participant (Indonesia)</li>
            </ul>
        </div>
    </div> -->
</div>
