<div class="projects">
    <!-- <div class="summary">
        <p>Hello, I'm a highly adaptable Software Engineer with a knack for rapid learning, honed through participation in esteemed Competitive Programming Competitions like Google Kickstart 2022 and Shopee Code League 2022. My expertise spans a wide array of technologies, including PHP, Laravel, Golang, Java, Spring, MySQL, and PostgreSQL. Proficient in conducting rigorous unit testing as well as Selenium Automation Testing in Java and Python, I ensure robust and reliable software solutions. Moreover, my experience extends to the implementation of Microservices architecture, utilizing JWT and OpenAPI Swagger, garnered from my past internships. I excel in orchestrating Microservices across platforms such as Golang, Gin, Laravel, and Spring Boot, leveraging their unique strengths to craft efficient and scalable systems.</p>
        <img src="/assets/shopee_lite.jpeg" alt="profile" width="600px" style="border-radius: 1vh;">

        
    </div>
    <div class="summary">
        <img src="/assets/qa_seminar_shopee.jpeg" alt="profile" height="300px" style="border-radius: 1vh;">

        <p>Hello, I'm a highly adaptable Software Engineer with a knack for rapid learning, honed through participation in esteemed Competitive Programming Competitions like Google Kickstart 2022 and Shopee Code League 2022. My expertise spans a wide array of technologies, including PHP, Laravel, Golang, Java, Spring, MySQL, and PostgreSQL. Proficient in conducting rigorous unit testing as well as Selenium Automation Testing in Java and Python, I ensure robust and reliable software solutions. Moreover, my experience extends to the implementation of Microservices architecture, utilizing JWT and OpenAPI Swagger, garnered from my past internships. I excel in orchestrating Microservices across platforms such as Golang, Gin, Laravel, and Spring Boot, leveraging their unique strengths to craft efficient and scalable systems.</p>
    </div>
    <div class="summary">
        <p>Hello, I'm a highly adaptable Software Engineer with a knack for rapid learning, honed through participation in esteemed Competitive Programming Competitions like Google Kickstart 2022 and Shopee Code League 2022. My expertise spans a wide array of technologies, including PHP, Laravel, Golang, Java, Spring, MySQL, and PostgreSQL. Proficient in conducting rigorous unit testing as well as Selenium Automation Testing in Java and Python, I ensure robust and reliable software solutions. Moreover, my experience extends to the implementation of Microservices architecture, utilizing JWT and OpenAPI Swagger, garnered from my past internships. I excel in orchestrating Microservices across platforms such as Golang, Gin, Laravel, and Spring Boot, leveraging their unique strengths to craft efficient and scalable systems.</p>
        
        <img src="/assets/graduation_day_shopee.jpeg" alt="profile" height="300px" style="border-radius: 1vh;">
    </div> -->
    <!-- <div>
        <div style="display: flex; flex-wrap: wrap; justify-content: space-between; margin: 10px;">
            <img src="/assets/shopee_lite.jpeg" alt="profile" width="600px">
            <img src="/assets/qa_seminar_shopee.jpeg" alt="profile" height="300px" style="border-radius: 1vh;">
            <img src="/assets/graduation_day_shopee.jpeg" alt="profile" height="300px" style="border-radius: 1vh;">
        </div>
    </div> -->

    <div class="content">
        <div class="project">
            project 1
        </div>
        <div class="project">
            project 2
        </div>
        <div class="project">
            project 3
        </div>
        <div class="project">
            project 3
        </div>
        <div class="project">
            project 3
        </div>
        <div class="project">
            project 3
        </div>
    </div>
</div>
