/* You can add global styles to this file, and also import other style files */
$background-color: white;
$font-color: #000010;

body {
    margin: 0px;
    color: $font-color;
    background-color: $background-color;
}